# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
# Ignore environment folders
venv/
env/
.venv/
conda_env/
# Ignore any distribution or build artifacts
build/
dist/
*.egg-info
# Ignore OS-specific hidden files
.DS_Store
Thumbs.db
# jupyter notebooks
.ipynb_checkpoints
__pycache__/
# idea
.idea/
.idea/*
.swp
*.swp
